{% comment %}

  This snippet is used for rendering the Date picker

  key: section id *required,
  background: "string" *required

  Usage:

  {%- render 'date-picker',
      key: section.key,
      background: background_accent
  -%}

{% endcomment %}

{%- style -%}
  #section-{{ key }} bq-date-picker {
    --date-picker-border-radius: var(--border-radius, 0);
    --date-picker-cleanstate-padding: 11px 22px;
    --date-picker-section-padding: 18px;
    --date-picker-text-line-height: var(--line-height-lg, 1.5);
    --date-picker-text-size: 16px;
    --date-picker-title-line-height: var(--line-height-lg, 1.5);
    --date-picker-title-size: 16px;
    --date-picker-wrapper-padding: 2px;
    --date-picker-background-color: var(--background-primary);
    --date-picker-box-shadow: 0 0 0 1px var(--background-accent);
    --date-picker-cleanstate-background-color: var(--background-accent);
    --date-picker-cleanstate-text-color: var(--color-accent);
    --date-picker-icon-color: var(--color-accent);
    --date-picker-placeholder-color: var(--color-placeholder);
    --date-picker-section-border: 1px solid var(--color-border);
    --date-picker-text-color: var(--color-primary);
  }
{%- endstyle -%}

<div class="date-picker__instance">
  <div class="date-picker__component">
    <bq-date-picker branding-color="{{- background -}}"></bq-date-picker>
  </div>
</div>
