{% comment %}

  This snippet is used for rendering the payments icons

  Usage:

  {%- render 'payments', payments: payment_methods  -%}

{% endcomment %}

{% style %}
  .payments {
    font-size: var(--social-size);
  }

  .payment {
    padding: 0 16px 0 0;
    margin: 0 calc(-1 * (var(--social-spacing) - 4px)) calc(-1 * (var(--social-spacing) - 4px));
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .payment svg {
    width: 35px;
    height: 31px;
  }

  .payment i,
  .payment span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 calc(var(--social-spacing) - 4px) calc(var(--social-spacing) - 4px);
  }

  .payment span:not([title="Bancontact"]) path,
  .payment span[title="Bancontact"] .st1,
  .payment span[title="Giropay"] path:not(.st1) {
    fill: currentColor !important;
  }

  .payment span[title="Giropay"] .st1 {
    fill: var(--background-primary) !important;
  }
{% endstyle %}

<div class="payment">
  {%- for provider in payments -%}
    {%- case provider -%}
      {%- when "paypal" -%}
        <i class="fa-brands fa-cc-paypal" title="PayPal"></i>
      {%- when "creditcard" -%}
        <i class="fa-brands fa-cc-visa" title="Visa"></i>
        <i class="fa-brands fa-cc-mastercard" title="MasterCard"></i>
        <i class="fa-brands fa-cc-amex" title="American Express"></i>
      {%- when "ideal" -%}
        <i class="fa-brands fa-ideal" title="iDEAL"></i>
      {%- when "alipay" -%}
        <i class="fa-brands fa-alipay" title="Alipay"></i>
      {%- when "p24" -%}
        {%- render 'icon-p24' -%}
      {%- when "eps" -%}
        {%- render 'icon-eps' -%}
      {%- when "bancontact" -%}
        {%- render 'icon-bancontact' -%}
      {%- when "giropay" -%}
        {%- render 'icon-giropay' -%}
    {%- endcase -%}
  {%- endfor -%}
</div>
