{%- assign cookies_activated     = settings.cookie_notice_activated -%}
{%- assign cookies_color_palette = settings.cookie_notice_color_palette -%}

{%- if cookies_activated %}
  {%- assign paragraph_text      = section.settings.paragraph_text -%}
  {%- assign button_text         = section.settings.button_text -%}
  {%- assign background          = section.settings.background_color -%}

  <style>
    .cookie-notice-preferences {
      max-width: var(--max-width);
      width: 100%;

      margin: 0 auto;
      padding: 0 var(--horizontal-padding);
    }

    .cookie-notice-preferences__inner {
      background-color: {{ background }};
      border-radius: 8px;
      padding: 16px 24px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .cookie-notice-preferences__inner button {
      margin: 0px;
    }
  </style>

  <div class="cookie-notice-preferences__inner">
    <div class="cookie-notice-preferences__text bq-content rx-content text-{{- section.key -}}">
      {{- paragraph_text -}}
    </div>
    <button type="button"
      class="cookie-notice-preferences__button button button--primary button--large"
      onclick="CookieNotice.showPreferencesModal()"
    >
      {{- button_text -}}
    </button>
  </div>
{%- endif %}

{% schema %}
{
  "name": "Cookie notice preferences",
  "description": "Display text in various styles.",
  "tag": "div",
  "class": "cookie-notice-preferences",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#EFF1F3"
    },
    {
      "type": "contentEditor",
      "id": "paragraph_text",
      "label": "Paragraph",
      "default": "<p>View or change your cookie preferences.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Cookie preferences"
    }
  ]
}
{% endschema %}
