.error-404 {
  overflow: hidden;
  position: relative;
}

.error-404__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-primary);
  color: var(--color-primary);
}

.error-404__content--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.error-404__content--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.error-404__container {
  position: relative;
  z-index: 1;
}

.error-404__title {
  font-size: clamp(72px, 12.5vw, 180px);
  font-weight: var(--font-weight-extrabold);
  line-height: var(--line-height-sm);
  text-align: center;
  color: currentColor;
}

.error-404__container .error-404__description {
  font-size: calc(var(--font-size-large) + 2px);
  line-height: var(--line-height-sm);
  text-align: center;
  color: var(--color-secondary);
  padding: 0 0 20px;
}

.error-404__buttons {
  padding: 18px 0 0;
  margin-bottom: calc(-1 * var(--button-margin-bottom));
  text-align: center;
}

@media (min-width: 992px) {
  .error-404__content--padding-top {
    padding-top: var(--padding-top, 0);
  }

  .error-404__content--padding-bottom {
    padding-bottom: var(--padding-bottom, 0);
  }
}
