.accordion-block {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: currentColor;
}

.accordion-block__item {
  margin: 0 0 18px;
  padding: 0;
  position: relative;
  border: 1px solid transparent;
}

.accordion-block__heading {
  color: currentColor;
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  margin: 0;
  line-height: inherit;
  position: relative;
  z-index: 1;
}

.accordion-block__heading svg {
  transform: rotate(90deg);
  flex: 0 0 11px;
  width: auto;
  height: auto;
  margin: 10px;
  transition: transform var(--animation-duration) var(--transition-function-ease-out);
}

.accordion-block__heading path {
  fill: currentColor;
}

.accordion-block__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  flex: 1 1 auto;
  padding: 20px 24px 18px;
}

.accordion-block__content {
  overflow: hidden;
  max-height: 0;
  padding: 0 70px 0 25px;
  transition: max-height .5s var(--transition-function-ease);
  position: relative;
  z-index: 1;
}

.accordion-block__content p {
  margin-bottom: 25px;
}

.accordion-block__trigger {
  display: none;
}

.accordion-block__trigger:checked ~ .accordion-block__heading .accordion-block__label svg {
  transform: rotate(270deg);
}

.accordion-block__trigger:checked ~ .accordion-block__content {
  transition: max-height 1s var(--transition-function-ease-in-out);
  max-height: 1000px;
}

.palette-one .accordion-block__item {
  border-color: var(--color-border-1);
}

.palette-two .accordion-block__item {
  border-color: var(--color-border-2);
}

@media (min-width: 1100px) {
  .accordion-block__label {
    padding-top: 19px;
    padding-bottom: 17px;
  }

  .accordion-block__item {
    margin: 0px 0 14px;
  }
}
