.accordion__wrapper {
  position: relative;
  overflow: hidden;
  background: var(--background-primary);
  color: var(--color-primary);
}

.accordion__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.accordion__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.accordion__container {
  max-width: calc(var(--max-width-narrow) + var(--horizontal-padding) * 2);
  position: relative;
  z-index: 1;
}

.accordion__top {
  text-align: center;
}

.accordion__description {
  padding: 0 0 32px;
}

.accordion__list {
  font-size: calc(var(--font-size-regular) - 2px);
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion__item {
  margin: 0 0 8px;
  padding: 0;
  position: relative;
  background: var(--background-primary);
}

.accordion__item--with-border {
  border: 1px solid var(--color-primary);
}

.accordion__item--rounded {
  border-radius: var(--border-radius-rounded-blocks, 0);
}

.accordion__label {
  cursor: pointer;
}

.accordion__label svg {
  transform: rotate(90deg);
  flex: 0 0 11px;
  width: auto;
  height: auto;
  margin: 10px;
  transition: transform var(--animation-duration) var(--transition-function-ease-out);
}

.accordion__label path {
  fill: currentColor;
}

.accordion__heading {
  font-size: var(--font-size-large);
  margin: 0;
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  padding: 0 70px 0 25px;
  transition: max-height .5s var(--transition-function-ease);
  position: relative;
  z-index: 1;
  color: var(--color-secondary);
}

.accordion__content p {
  margin-bottom: 25px;
}

.accordion__trigger {
  display: none;
}

.accordion__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.accordion__image {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
}

.accordion__trigger:checked ~ .accordion__label svg {
  transform: rotate(270deg);
}

.accordion__trigger:checked ~ .accordion__content {
  transition: max-height 1s var(--transition-function-ease-in-out);
  max-height: 1000px;
}

@media (min-width: 992px) {
  .accordion__wrapper--padding-top {
    padding-top: var(--padding-top, 0);
  }

  .accordion__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 0);
  }

  .accordion__title {
    font-size: var(--font-size-h2);
  }

  .accordion__description {
    padding: 0 0 40px;
  }

  .accordion__item {
    margin: 0px 0 14px;
  }
}
