.accordion__wrapper {
  position: relative;
  overflow: hidden;
}

.accordion__wrapper--padding-top {
  padding-top: var(--padding-top-mobile);
}

.header-transparent ~ main .accordion:first-child .accordion__wrapper--padding-top {
  padding-top: calc(var(--padding-top-mobile, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
}

.accordion__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.accordion__container {
  max-width: calc(var(--max-width-narrow) + var(--horizontal-padding) * 2);
  position: relative;
  z-index: 1;
}

.accordion__top {
  text-align: center;
}

.accordion__description {
  padding: 0 0 32px;
}

.accordion__list {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion__item {
  margin: 0 0 8px;
  padding: 0;
  position: relative;
}

.accordion__item--with-border {
  border: 1px solid transparent;
}

.accordion__item--rounded {
  border-radius: var(--border-radius-rounded-blocks, 0);
}

.accordion__label {
  cursor: pointer;
}

.accordion__label svg {
  transform: rotate(90deg);
  flex: 0 0 11px;
  width: auto;
  height: auto;
  margin: 10px;
  transition: transform var(--animation-duration) var(--transition-function-ease-out);
}

.accordion__label path {
  fill: currentColor;
}

.accordion__heading {
  font-size: 18px;
  font-weight: var(--font-weight-extrabold);
  margin: 0;
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px;
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  padding: 0 70px 0 25px;
  transition: max-height .5s var(--transition-function-ease);
  position: relative;
  z-index: 1;
}

.accordion__content p {
  margin-bottom: 25px;
}

.accordion__trigger {
  display: none;
}

.accordion__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.1;
}

.accordion__image {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
}

.accordion__trigger:checked ~ .accordion__label svg {
  transform: rotate(270deg);
}

.accordion__trigger:checked ~ .accordion__content {
  transition: max-height 1s var(--transition-function-ease-in-out);
  max-height: 1000px;
}

.palette-one.accordion__wrapper {
  background: var(--background-primary-1);
}

.palette-one .accordion__item {
  background: var(--background-primary-1);
}

.palette-one .accordion__item--with-border {
  border-color: var(--color-primary-1);
}

.palette-one .accordion__content {
  color: var(--color-secondary-1);
}

.palette-two.accordion__wrapper {
  background: var(--background-primary-2);
}

.palette-two .accordion__item {
  background: var(--background-primary-2);
}

.palette-two .accordion__item--with-border {
  border-color: var(--color-primary-2);
}

.palette-two .accordion__content {
  color: var(--color-secondary-2);
}

.palette-three.accordion__wrapper {
  background: var(--background-primary-3);
}

.palette-three .accordion__item {
  background: var(--background-primary-3);
}

.palette-three .accordion__item--with-border {
  border-color: var(--color-primary-3);
}

.palette-three .accordion__content {
  color: var(--color-secondary-3);
}

.palette-four.accordion__wrapper {
  background: var(--background-primary-4);
}

.palette-four .accordion__item {
  background: var(--background-primary-4);
}

.palette-four .accordion__item--with-border {
  border-color: var(--color-primary-4);
}

.palette-four .accordion__content {
  color: var(--color-secondary-4);
}

.palette-five.accordion__wrapper {
  background: var(--background-primary-5);
}

.palette-five .accordion__item {
  background: var(--background-primary-5);
}

.palette-five .accordion__item--with-border {
  border-color: var(--color-primary-5);
}

.palette-five .accordion__content {
  color: var(--color-secondary-5);
}

@media (min-width: 992px) {
  .accordion__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .header-transparent ~ main .accordion:first-child .accordion__wrapper--padding-top {
    padding-top: calc(var(--padding-top, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
  }

  .accordion__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .accordion__title {
    font-size: var(--font-size-h2);
  }

  .accordion__description {
    padding: 0 0 40px;
  }

  .accordion__item {
    margin: 0px 0 14px;
  }
}
