.cta__wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.cta__container--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.header-transparent ~ main .cta:first-child .cta__container--padding-top {
  padding-top: calc(var(--padding-top-mobile, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
}

.cta__container--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.cta__content {
  color: var(--color-primary);
}

.cta__text-area {
  text-align: center;
}

.cta__buttons {
  margin: 40px 0 calc(-1 * var(--button-margin-bottom));
}

.cta__button {
  margin-left: 8px;
  margin-right: 8px;
}

.cta__vision {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  background: var(--background-primary);
}

.cta__vision--transition:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, var(--color-transition) 11.17%, var(--color-transition-00) 41.57%),
              linear-gradient(349deg, var(--color-primary-30) 43.3%, var(--color-primary-00) 80.3%);
}

.cta__image {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
}

@media (min-width: 992px) {
  .cta__container--padding-top {
    padding-top: var(--padding-top, 0);
  }

  .header-transparent ~ main .cta:first-child .cta__container--padding-top {
    padding-top: calc(var(--padding-top, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
  }

  .cta__container--padding-bottom {
    padding-bottom: var(--padding-bottom, 0);
  }

  .cta__title {
    font-size: var(--font-size-h2);
    margin-bottom: 34px;
  }

  .cta__buttons {
    margin-top: 0;
  }
}
