.carousel {
  height: 100%;
  width: 100%;
  position: relative;
}

.carousel *::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.carousel *::-webkit-scrollbar-track {
  background: transparent;
}

.carousel *::-webkit-scrollbar-thumb {
  background: transparent;
}

.carousel__wrapper {
  margin: 0 -16px;
  width: calc(100% + 32px);
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-padding: 0 16px 0 0;
  scroll-behavior: smooth !important;
  -ms-overflow-style: none;
  display: flex;
  align-items: stretch;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.carousel--controls .carousel__wrapper {
  padding-bottom: 95px;
}

.carousel__inner {
  padding: 0 0 0 16px;
  height: 100%;
}

.carousel__item {
  position: relative;
  min-width: var(--slide-width-mobile);
  transition: all calc(var(--animation-duration) + 0.2s) var(--transition-function-ease);
  padding: 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.carousel__item:last-child {
  min-width: calc(var(--slide-width-mobile) + 16px);
}

.carousel__item:last-child .carousel__inner {
  padding-right: 16px;
}

.carousel__pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  margin: 0 -4px;
  z-index: 1;
}

.carousel__pagination.hidden {
  display: none;
}

.carousel__dot {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0 0 20px;
  width: 16px;
  height: 16px;
}

.carousel__dot:after {
  content: "";
  width: 8px;
  height: 8px;
  transition: all var(--animation-duration) var(--transition-function-ease-out);
  border-radius: 50%;
  pointer-events: none;
}

.carousel__dot.hidden {
  display: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 -8px;
  display: flex;
  z-index: 1;
}

.carousel__navigation.hidden {
  display: none;
}

.carousel__btn {
  margin: 0 8px;
  border-radius: var(--border-radius);
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-indent: -9999px;
  transition: border var(--animation-duration) var(--transition-function-ease-out);
}

.carousel__btn svg {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.carousel__btn.prev svg {
  transform: rotate(180deg);
}

.carousel__btn path {
  transition: all var(--animation-duration) var(--transition-function-ease-out);
}

.carousel .product-card {
  height: 100%;
}

.carousel__full-width .carousel__item:last-child {
  min-width: var(--slide-width-mobile);
}

.carousel__full-width .carousel__inner {
  padding-right: 16px;
}

.carousel__edges .carousel__item:last-child {
  min-width: var(--slide-width-mobile);
}

.carousel__edges .carousel__item:not(:first-child) {
  display: none;
}

.carousel__edges .carousel__inner,
.carousel__edges .carousel__item:last-child .carousel__inner {
  display: flex;
  align-items: stretch;
  padding: 0;
}

.carousel__edges .carousel__item.show {
  position: static;
  opacity: 1;
  visibility: visible;
  transition: visibility calc(var(--animation-duration) + 0.2s) var(--transition-function-ease-out),
        opacity calc(var(--animation-duration) + 0.2s) var(--transition-function-ease-out);
}

.carousel__edges .carousel__item.hide {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: visibility calc(var(--animation-duration) + 0.2s) var(--transition-function-ease-in),
        opacity calc(var(--animation-duration) + 0.2s) var(--transition-function-ease-in);
}

.carousel__edges .images__text-area {
  margin-bottom: var(--margin-bottom-mobile);
}

.carousel__edges .carousel__navigation {
  bottom: 18px;
  right: auto;
  left: 50%;
  width: 100%;
  max-width: var(--max-width);
  transform: translate(-50%, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--horizontal-padding-mobile);
  margin: 0;
}

.carousel__edges .carousel__btn {
  position: relative;
  border-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0;
  z-index: 2;
  line-height: var(--line-height-xs);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__edges .carousel__btn svg {
  padding-left: 3px;
}

.carousel__edges .carousel__btn.prev {
  margin-right: 24px;
}

.carousel__edges .carousel__btn.prev svg {
  transform: rotate(180deg);
}

.carousel__edges .carousel__pagination {
  bottom: 31px;
  left: 50%;
  z-index: 2;
  max-width: calc(var(--max-width) - var(--horizontal-padding) * 3 - 104px * 2);
  transform: translate(-50%, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carousel__edges .carousel__dot {
  opacity: 1;
  margin-bottom: 0;
}

.carousel__edges .carousel__dot.active {
  opacity: 1;
}

.carousel__edges .carousel__counter {
  position: absolute;
  z-index: 0;
  bottom: 28px;
  right: 50%;
  width: 100%;
  max-width: var(--max-width);
  transform: translate(50%, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  padding: 0 var(--horizontal-padding-mobile);
}

.carousel__edges .carousel__divider {
  margin: 0 16px;
}

.carousel__edges .carousel__divider,
.carousel__edges .carousel__divider + span {
  opacity: 0.4;
}

.carousel.carousel__edges.initialized .carousel__item,
.carousel.carousel__edges.initialized .carousel__item:not(:first-child) {
  display: block;
}

.carousel.carousel__edges.carousel__fade-effect .carousel__wrapper {
  overflow: hidden;
}

.palette-one .carousel__dot:after {
  background: var(--color-primary-1-30);
}

.palette-one .carousel__dot.active:after {
  background: var(--color-primary-1);
}

.palette-one .carousel__btn {
  border-color: var(--color-border-1);
}

.palette-one .carousel__btn path {
  fill: var(--color-primary-1);
}

.palette-two .carousel__dot:after {
  background: var(--color-primary-2-30);
}

.palette-two .carousel__dot.active:after {
  background: var(--color-primary-2);
}

.palette-two .carousel__btn {
  border-color: var(--color-border-2);
}

.palette-two .carousel__btn path {
  fill: var(--color-primary-2);
}

.palette-three .carousel__dot:after {
  background: var(--color-primary-3-30);
}

.palette-three .carousel__dot.active:after {
  background: var(--color-primary-3);
}

.palette-three .carousel__btn {
  border-color: var(--color-border-3);
}

.palette-three .carousel__btn path {
  fill: var(--color-primary-3);
}

.palette-four .carousel__dot:after {
  background: var(--color-primary-4-30);
}

.palette-four .carousel__dot.active:after {
  background: var(--color-primary-4);
}

.palette-four .carousel__btn {
  border-color: var(--color-border-4);
}

.palette-four .carousel__btn path {
  fill: var(--color-primary-4);
}

.palette-five .carousel__dot:after {
  background: var(--color-primary-5-30);
}

.palette-five .carousel__dot.active:after {
  background: var(--color-primary-5);
}

.palette-five .carousel__btn {
  border-color: var(--color-border-5);
}

.palette-five .carousel__btn path {
  fill: var(--color-primary-5);
}

.palette-one .carousel__edges .carousel__btn,
.palette-two .carousel__edges .carousel__btn,
.palette-three .carousel__edges .carousel__btn,
.palette-four .carousel__edges .carousel__btn,
.palette-five .carousel__edges .carousel__btn {
  background: var(--overlay-color-08);
  border-color: transparent;
}

.palette-one .carousel__edges .carousel__btn:hover,
.palette-two .carousel__edges .carousel__btn:hover,
.palette-three .carousel__edges .carousel__btn:hover,
.palette-four .carousel__edges .carousel__btn:hover,
.palette-five .carousel__edges .carousel__btn:hover {
  border-color: var(--overlay-color);
}

.palette-one .carousel__edges .carousel__btn path,
.palette-two .carousel__edges .carousel__btn path,
.palette-three .carousel__edges .carousel__btn path,
.palette-four .carousel__edges .carousel__btn path,
.palette-five .carousel__edges .carousel__btn path {
  fill: var(--overlay-color);
}

.palette-one .carousel__edges .carousel__dot:after,
.palette-two .carousel__edges .carousel__dot:after,
.palette-three .carousel__edges .carousel__dot:after,
.palette-four .carousel__edges .carousel__dot:after,
.palette-five .carousel__edges .carousel__dot:after {
  background: var(--overlay-color-45);
}

.palette-one .carousel__edges .carousel__dot.active:after,
.palette-one .carousel__edges .carousel__dot:hover:after,
.palette-two .carousel__edges .carousel__dot.active:after,
.palette-two .carousel__edges .carousel__dot:hover:after,
.palette-three .carousel__edges .carousel__dot.active:after,
.palette-three .carousel__edges .carousel__dot:hover:after,
.palette-four .carousel__edges .carousel__dot.active:after,
.palette-four .carousel__edges .carousel__dot:hover:after,
.palette-five .carousel__edges .carousel__dot.active:after,
.palette-five .carousel__edges .carousel__dot:hover:after {
  background: var(--overlay-color);
}

.palette-one .carousel__edges .carousel__counter,
.palette-two .carousel__edges .carousel__counter,
.palette-three .carousel__edges .carousel__counter,
.palette-four .carousel__edges .carousel__counter,
.palette-five .carousel__edges .carousel__counter {
  color: var(--overlay-color);
}

@media (min-width: 992px) {
  .carousel__wrapper {
    margin: 0 -32px;
    width: calc(100% + 64px);
    scroll-padding: 0 32px 0 0;
  }

  .carousel__inner {
    padding: 0 0 0 32px;
  }

  .carousel__item {
    min-width: var(--slide-width);
  }

  .carousel__item:last-child {
    min-width: calc(var(--slide-width) + 32px);
  }

  .carousel__item:last-child .carousel__inner {
    padding-right: 32px;
  }

  .carousel__full-width .carousel__inner {
    padding-right: 32px;
  }

  .carousel__edges .carousel__item,
  .carousel__edges .carousel__item:last-child {
    min-width: var(--slide-width);
  }

  .carousel__edges .images__text-area {
    margin-bottom: var(--margin-bottom);
  }

  .carousel__edges .carousel__navigation {
    bottom: 33px;
  }

  .carousel__edges .carousel__dot {
    width: 48px;
    height: 16px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 3px;
  }

  .carousel__edges .carousel__dot:after {
    border-radius: 50%;
    width: 100%;
    height: 2px;
  }

  .carousel__edges .carousel__counter {
    bottom: 33px;
  }

  .carousel__destroy .carousel__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    gap: 24px;
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-padding: 0;
  }

  .carousel__destroy .carousel__inner {
    padding: 0;
  }

  .carousel__destroy .carousel__item {
    min-width: 100%;
  }

  .carousel__destroy .carousel__item:last-child .carousel__inner {
    padding-right: 0;
  }

  .carousel__destroy .carousel__navigation,
  .carousel__destroy .carousel__pagination {
    display: none;
  }
}

@media (min-width: 1200px) {
  .carousel__edges .carousel__navigation,
  .carousel__edges .carousel__counter {
    padding: 0 var(--horizontal-padding);
  }
}

@media (min-width: 1273px) {
  .carousel__wrapper {
    margin: 0;
    width: 100%;
    scroll-padding: 0;
  }

  .carousel__inner {
    padding: 0 32px 0 0;
  }

  .carousel__item:last-child {
    min-width: calc(var(--slide-width) - 32px);
  }

  .carousel__item:last-child .carousel__inner {
    padding-right: 0;
  }

  .carousel__full-width .carousel__item:last-child .carousel__inner,
  .carousel__full-width .carousel__inner {
    padding: 0;
  }

  .carousel__destroy .carousel__item {
    min-width: 100%;
  }
}

@media (hover: hover) {
  .carousel__edges .carousel__dot:hover {
    opacity: 1;
  }

  .palette-one .carousel__btn:hover {
    border-color: var(--color-primary-1);
  }

  .palette-one .carousel__dot:hover:after {
    background: var(--color-primary-1);
  }

  .palette-two .carousel__btn:hover {
    border-color: var(--color-primary-2);
  }

  .palette-two .carousel__dot:hover:after {
    background: var(--color-primary-2);
  }

  .palette-one .carousel__edges .show-overlay-light ~ .carousel__navigation .carousel__btn:hover,
  .palette-one .carousel__edges .carousel__btn:hover {
    border-color: var(--overlay-background);
  }

  .palette-one .carousel__edges .show-overlay-dark ~ .carousel__navigation .carousel__btn:hover {
    border-color: var(--overlay-color);
  }

  .palette-one .carousel__edges .show-overlay-light ~ .carousel__pagination .carousel__dot:hover:after,
  .palette-one .carousel__edges .carousel__dot:hover:after {
    background: var(--overlay-background);
  }

  .palette-one .carousel__edges .show-overlay-dark ~ .carousel__pagination .carousel__dot:hover:after {
    background: var(--overlay-color);
  }

  .palette-two .carousel__edges .show-overlay-light ~ .carousel__navigation .carousel__btn:hover,
  .palette-two .carousel__edges .carousel__btn:hover {
    border-color: var(--overlay-background-2);
  }

  .palette-two .carousel__edges .show-overlay-dark ~ .carousel__navigation .carousel__btn:hover {
    border-color: var(--overlay-color-2);
  }

  .palette-two .carousel__edges .show-overlay-light ~ .carousel__pagination .carousel__dot:hover:after,
  .palette-two .carousel__edges .carousel__dot:hover:after {
    background: var(--overlay-background-2);
  }

  .palette-two .carousel__edges .show-overlay-dark ~ .carousel__pagination .carousel__dot:hover:after {
    background: var(--overlay-color-2);
  }
}
