.collections {
  font-size: 18px;
  line-height: var(--line-height-lg);
}

.collections__wrapper {
  background: var(--background-primary);
}

.collections__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.header-transparent ~ main .collections:first-child .collections__wrapper--padding-top {
  padding-top: calc(var(--padding-top-mobile, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
}

.collections__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.collections__list {
  list-style: none;
  padding: 0;
  margin: 0 calc(-1 * var(--horizontal-padding-mobile));
  display: grid;
  gap: var(--grid-gap-mobile);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.collections__item {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-rounded-blocks);
}

.collections__item:last-child {
  margin-bottom: 0;
}

.collections__bottom {
  position: absolute;
  bottom: 20px;
  left: 32px;
  width: calc(100% - 64px);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.collections__text-area {
  padding-right: 10px;
}

.collections__heading {
  font-size: 40px;
  line-height: var(--line-height-md);
  margin: 0;
  color: var(--color-primary);
}

.collections__amount {
  color: var(--color-primary);
  font-size: var(--font-size-regular);
  opacity: 0.5;
}

.collections__arrow {
  height: 55px;
  width: 55px;
  margin-bottom: 10px;
  border-radius: var(--border-radius-circle);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  background: var(--background-accent);
}

.collections__arrow svg {
  height: 24px;
  width: 24px;
}

.collections__arrow path {
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
  fill: var(--color-accent);
}

.collections__link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.collections__image-item {
  position: relative;
  display: block;
}

.collections__image-item:after {
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  aspect-ratio: 1 / 0.7;
  opacity: var(--opacity-overlay);
}

.collections__item:hover .collections__arrow {
  opacity: 1;
  visibility: visible;
}

.collections__image {
  display: block;
  max-width: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection__wrapper--with-overlay .collections__image-item:after {
  background: linear-gradient(1deg, var(--background-primary) 0%, var(--background-primary-00) 80%);
}

@media (min-width: 992px) {
  .collections__list {
    grid-template-columns: repeat(var(--template-columns), 1fr);
    gap: var(--grid-gap);
  }

  .collections__image-item:after{
    aspect-ratio: 1 / 1.665;
  }

  .collections__wrapper-two .collections__image-item:after{
    aspect-ratio: 1 / 1.1115;
  }
}

@media (min-width: 1100px) {
  .collections__wrapper--padding-top {
    padding-top: var(--padding-top, 0);
  }

  .header-transparent ~ main .collections:first-child .collections__wrapper--padding-top {
    padding-top: calc(var(--padding-top, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
  }

  .collections__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 0);
  }

  .collections__list {
    margin: 0 calc(-1 * var(--horizontal-padding));
  }

  .collections__bottom {
    bottom: 30px;
  }
}
