.collections {
  font-size: 18px;
  line-height: var(--line-height-lg, 1.5);
}

.collections__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 16px);
}

.collections__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 16px);
}

.collections__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 16px;
}

.collections__list.collections__list--multiple {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.collections__item {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.collections__item:last-child {
  margin-bottom: 0;
}

.collections__heading {
  font-size: 24px;
  line-height: 1.4;
}

.collections__link {
  display: block;
  position: relative;
}

.collections__item > .collections__image-item {
  position: relative;
}

.collections__item > .collections__image-item:after,
.collections__link:after {
  content: "";
  display: block;
  aspect-ratio: 1 / 0.69;
}

.collections__image {
  display: block;
  max-width: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collections__image-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.palette-one.collections__wrapper {
  background: var(--background-primary, #FFFFFF);
}

.palette-two.collections__wrapper {
  background: var(--background-primary-2, #1A3333);
}

@media (min-width: 768px) {
  .collections__list {
    grid-template-columns: minmax(280px, 300px);
  }

  .collections__item > .collections__image-item:after,
  .collections__link:after {
    aspect-ratio: 1 / 1.48;
  }

  .collections__list-2 .collections__link:after {
    aspect-ratio: 1 / 0.92;
  }

  .collections__list-3 .collections__link:after {
    aspect-ratio: 1 / 1.42;
  }
}

@media (min-width: 1100px) {
  .collections__list {
    gap: 32px;
  }

  .collections__wrapper--padding-top {
    padding-top: var(--padding-top, 16px);
  }

  .collections__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 16px);
  }
}
