.columns__wrapper {
  line-height: var(--line-height-lg);
  background: var(--color-fourth);
}

.columns__wrapper--padding-top {
  padding-top: var(--padding-top-mobile);
}

.columns__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.columns__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.columns__item {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-fourth);
  position: relative;
  color: var(--color-primary);
  background: var(--background-primary);
}

.columns__image-wrapper {
  aspect-ratio: 16 / 9;
}

.columns__image-wrapper img {
  max-width: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.columns__icon-wrapper {
  position: absolute;
  left: 24px;
  top: 24px;
}

.columns__icon-wrapper i {
  font-size: 34px;
  line-height: 1;
  color: var(--color-outline);
}

.columns__text {
  flex: 1 1 auto;
}

.columns__text:not(:first-child) {
  padding-top: 28px;
}

.columns__icon-wrapper + .columns__text:not(:first-child) {
  padding-top: 56px;
}

.columns__title {
  display: block;
  color: inherit;
  margin-bottom: 15px;
}

.columns__description {
  padding: 0 0 25px;
  color: var(--color-secondary);
}

.columns__label,
.columns__button {
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: all var(--animation-duration) var(--transition-function-ease-out);
  line-height: var(--line-height-sm);
}

@media (min-width: 992px) {
  .columns__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .columns__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .columns__grid {
    grid-template-columns: repeat(var(--grid-element), minmax(280px, 1fr));
  }
}

@media (min-width: 1200px) {
  .columns__grid {
    gap: 48px;
  }
}
