.columns__wrapper {
  line-height: var(--line-height-lg);
  background: var(--background-primary);
  color: var(--color-primary);
}

.columns__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.header-transparent ~ main .columns:first-child > .columns__wrapper--padding-top {
  padding-top: calc(var(--padding-top-mobile, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
}

.columns__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.columns__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
}

.columns__item {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-rounded-blocks);
  position: relative;
}

.columns__image-wrapper {
  aspect-ratio: 16 / 9;
  position: relative;
}

.columns__image {
  max-width: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.columns__icon-wrapper {
  position: absolute;
  left: 24px;
  top: 24px;
}

.columns__icon-wrapper i {
  font-size: 34px;
  line-height: 1;
  color: var(--color-outline);
}

.columns__text {
  flex: 1 1 auto;
}

.columns__text:not(:first-child) {
  padding-top: 28px;
}

.columns__icon-wrapper + .columns__text:not(:first-child) {
  padding-top: 56px;
}

.columns__title {
  font-size: calc(var(--font-size-large) + 2px);
  display: block;
  color: inherit;
  margin-bottom: 15px;
}

.columns__description {
  padding: 0 0 25px;
  color: var(--color-secondary);
}

.columns__label,
.columns__button {
  font-size: calc(var(--font-size-regular) - 2px);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: all var(--animation-duration) var(--transition-function-ease-out);
  line-height: var(--line-height-sm);
  margin: 0;
}

.columns__buttons {
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .columns__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .header-transparent ~ main .columns:first-child > .columns__wrapper--padding-top {
    padding-top: calc(var(--padding-top, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
  }

  .columns__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .columns__grid {
    grid-template-columns: repeat(var(--grid-element), minmax(280px, 1fr));
  }
}
