.contact-form__wrapper {
  line-height: var(--line-height-lg);
  background: var(--background-primary);
  color: var(--color-secondary);
}

.contact-form__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.header-transparent ~ main .contact-form:first-child > .contact-form__wrapper--padding-top {
  padding-top: calc(var(--padding-top-mobile, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
}

.contact-form__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.contact-form__container {
  position: relative;
  z-index: 2;
}

.contact-form__form {
  border: 1px solid var(--color-border);
  padding: 16px;
  border-radius: var(--border-radius-rounded-blocks);
  overflow: hidden;
}

@media (min-width: 992px) {
  .contact-form__wrapper--padding-top {
    padding-top: var(--padding-top, 0);
  }

  .header-transparent ~ main .contact-form:first-child > .contact-form__wrapper--padding-top {
    padding-top: calc(var(--padding-top, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
  }

  .contact-form__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 0);
  }

  .contact-form__form {
    padding: 40px;
  }
}
