.footer {
  font-size: calc(var(--font-size-regular) - 2px);
}

.footer__wrapper {
  color: var(--color-primary);
  background: var(--background-primary);
}

.footer__wrapper--padding-top {
  padding-top: var(--padding-top-mobile);
}

.footer__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.footer__container .footer__wrapper {
  border-top-left-radius: var(--border-radius-rounded-blocks);
  border-top-right-radius: var(--border-radius-rounded-blocks);
  padding-right: var(--horizontal-padding-mobile);
  padding-left: var(--horizontal-padding-mobile);
}

.footer__top {
  padding: 0 0 22px;
}

.footer__logo-wrapper {
  padding: 0 0 23px;
}

.footer__logo-wrapper img {
  max-width: 150px;
  width: 100%;
}

.footer__logo-text {
  font-size: 24px;
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-semibold);
  margin: 0;
  color: var(--color-primary);
}

.footer__menu-heading {
  font-size: var(--font-size-regular);
  display: block;
  padding: 0 0 15px;
  font-weight: var(--font-weight-headers);
  text-align: var(--footer-menu-align);
  color: var(--color-outline);
}

.footer__menu-list {
  padding: 0 0 25px;
  text-align: var(--footer-menu-align);
  color: var(--color-secondary);
}

.footer__menu-link {
  padding: 8px 0;
  color: currentColor;
}

.footer__menu-link:hover {
  color: var(--color-outline-hover);
}

.footer__bottom {
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column-reverse;
}

.footer__icons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0 30px;
  color: var(--color-primary);
}

.footer__bottom-menu-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px -12px;
}

.footer__bottom-menu-item {
  padding: 0 12px;
}

.footer__bottom-menu-link {
  text-decoration: underline;
  padding: 5px 0;
}

.footer__bottom-menu-link:hover {
  text-decoration: none;
}

.footer__copy {
  color: var(--color-secondary);
}

.footer__icons:has(.footer__app) .footer__social {
  padding-right: 20px;
}

#section-footer .footer__app .weglot-widget__wrapper {
  border-radius: var(--border-radius);
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-footer .footer__app .weglot-widget__wrapper .weglot-widget__label {
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-footer .footer__app .weglot-widget__wrapper:hover {
  border-color: var(--color-outline-hover);
}

#section-footer .footer__app .weglot-widget__wrapper:hover .weglot-widget__label {
  color: var(--color-outline-hover);
}

#section-footer .footer__app .weglot-widget__dropdown {
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-rounded);
  box-shadow: 0 0 8px var(--color-border);
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-footer .footer__app .weglot-widget__dropdown--up {
  top: auto;
  bottom: calc(100% + 11px);
}

#section-footer .footer__app .weglot-widget__dropdown--down {
  bottom: auto;
  top: calc(100% + 11px);
}

#section-footer .footer__app .weglot-widget__dropdown:hover {
  border-color: var(--color-outline-hover);
}

#section-footer .footer__app .weglot-widget__dropdown:before,
#section-footer .footer__app .weglot-widget__dropdown:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0px;
  height: 0px;
  border-style: solid;
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-footer .footer__app .weglot-widget__dropdown--up:before,
#section-footer .footer__app .weglot-widget__dropdown--up:after {
  top: 100%;
  border-width: 10px 10px 0 10px;
  border-color: var(--background-primary) transparent transparent transparent;
}

#section-footer .footer__app .weglot-widget__dropdown--up:before {
  top: calc(100% + 1px);
  border-color: var(--color-border) transparent transparent transparent;
}

#section-footer .footer__app .weglot-widget__dropdown--up:hover:before {
  border-color: var(--color-outline-hover) transparent transparent transparent;
}

#section-footer .footer__app .weglot-widget__dropdown--down:before,
#section-footer .footer__app .weglot-widget__dropdown--down:after {
  bottom: 100%;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--background-primary) transparent;
}

#section-footer .footer__app .weglot-widget__dropdown--down:before {
  bottom: calc(100% + 1px);
  border-color: transparent transparent var(--color-border) transparent;
}

#section-footer .footer__app .weglot-widget__dropdown--down:hover:before {
  border-color: transparent transparent var(--color-outline-hover) transparent;
}

#section-footer .footer__app .weglot-widget__item {
  transition: all var(--animation-duration) var(--transition-function-ease-in-out);
}

#section-footer .footer__app .weglot-widget__item:hover {
  color: var(--color-outline-hover);
}

@media (min-width: 992px) {
  .footer__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .footer__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .footer__top {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 0 57px;
  }

  .footer__top--with-logo {
    grid-template-columns: max-content 1fr;
    gap: 0px 60px;
  }

  .footer__menu-wrapper {
    width: 100%;
    padding: 0 15px;
  }

  .footer__menu {
    display: flex;
    margin: 0 -15px;
  }

  .footer__menu-heading {
    text-align: left;
  }

  .footer__menu-list {
    text-align: left;
  }

  .footer__bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__bottom--copyright-hidden:before {
    content: "";
    display: inline;
  }

  .footer__copy {
    display: flex;
    align-items: center;
  }

  .footer__copy p {
    margin-right: 25px;
  }

  .footer__icons {
    padding: 34px 0 28px;
  }

  .footer__social {
    padding: 0 0 0 16px;
  }

  .footer__social:has(+ .footer__payments) {
    padding: 0;
  }

  .footer__bottom-menu {
    margin: 0 25px 0 0;
  }
}

@media (min-width: 1200px) {
  .footer__container .footer__wrapper {
    padding-right: var(--horizontal-padding);
    padding-left: var(--horizontal-padding);
  }
}

@media (max-width: 991px) {
  .footer > .footer__container {
    padding-right: 0;
    padding-left: 0;
  }
}
