.form__inner {
  width: 100%;
}

.form__inner form {
  margin: 30px 0 0;
}

.form__title {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-sm);
  margin-bottom: 22px;
}

.form__block {
  position: relative;
  margin: 0 0 30px 0;
}

.form__label-backlight {
  display: none;
}

.form__label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 9px;
  position: absolute;
  left: 12px;
  top: 0;
  transform: translate(0, -50%);
  font-size: 14px;
  padding: 0 4px;
  transition-duration: var(--animation-duration);
  transition-property: top, color, background-color;
  background: var(--background-primary);
  color: var(--color-secondary);
}

.form__label:not(:has(+ input:focus)):has(+ input:placeholder-shown),
.form__label:not(:has(+ textarea:focus)):has(+ textarea:placeholder-shown) {
  font-size: 16px;
  top: 50%;
  cursor: initial;
}

.form__label:not(:has(+ textarea:focus)):has(+ textarea:placeholder-shown) {
  top: 22px;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid var(--color-border);
  line-height: var(--line-height-xl);
  color: var(--color-primary);
  background: var(--background-primary);
}

.form__textarea {
  min-height: 182px;
  margin-bottom: 22px;
  resize: none;
  line-height: var(--line-height-lg);
}

.form__input:focus,
.form__input:focus-visible,
.form__textarea:focus,
.form__textarea:focus-visible {
  outline: none;
  border-width: 2px;
  padding: 7px 15px;
  border-color: var(--background-accent);
}

.form__error-message {
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 5px;
  background:  var(--color-red-light);
  color: var(--color-red);
  pointer-events: none;
}

.form__message .form__error-message {
  top: auto;
  bottom: 0;
}

.form__info {
  margin: 0 0 30px;
  pointer-events: none;
}

.form__info p {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  padding: 14px 16px;
  font-size: 14px;
}

.form__info i {
  font-size: 16px;
  line-height: 20px;
  margin-right: 8px;
}

.form__info .success {
  background: var(--color-azureish-white);
  color: var(--color-black);
  border-color: var(--color-border);
}

.form__info .success i {
  color: var(--color-outline-1);
}

.form__info .error {
  background-color: var(--color-red-light);
  border-color: var(--color-red);
  color: var(--color-red);
}

.form__info .error i {
  color: var(--color-red);
}

.form__submit {
  margin-bottom: calc(-1 * var(--button-margin-bottom));
}

.form__submit button {
  width: 100%;
}

div.form__block--error .form__label {
  background:  linear-gradient(0deg, var(--color-red-light) 0%, var(--color-red-light) 48%, transparent 48%);
  color: var(--color-red) !important;
}

div.form__block--error .form__label-backlight {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 4px;
  top: 0;
  font-size: 14px;
  font-weight: var(--font-weight-extrabold);
  transition-duration: var(--animation-duration);
  transition-property: top, color, background-color;
  color: var(--color-red-light);
  text-shadow: -0.5px -0.5px 2px var(--color-red-light);
  z-index: -1;
  white-space: nowrap;
  letter-spacing: -0.015em;
}

div.form__block--error .form__input,
div.form__block--error .form__textarea,
div.form__block--error .form__input:focus,
div.form__block--error .form__textarea:focus {
  background-color: var(--color-red-light);
  border-color: var(--color-red);
  color: var(--color-red);
}

@media (min-width: 992px) {
  .form__submit button {
    width: auto;
  }

  .form__title {
    font-size: var(--font-size-h2);
  }
}
