.form__inner {
  width: 100%;
}

.form__inner form {
  margin: 30px 0 0;
}

.form__title {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-md);
  margin-bottom: 22px;
}

.form__block {
  position: relative;
  margin: 0 0 30px 0;
}

.form__block--divider-small {
  margin-bottom: 16px;
}

.form__label {
  display: block;
  padding-bottom: 8px;
  color: var(--color-secondary);
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-size: var(--font-size-regular);
  border: 1px solid var(--color-border);
  line-height: var(--line-height-xl);
  color: var(--color-primary);
  background: var(--background-primary);
}

.form__textarea {
  min-height: 182px;
  margin-bottom: 32px;
  resize: none;
  line-height: var(--line-height-lg);
}

.form__input:focus,
.form__input:focus-visible,
.form__textarea:focus,
.form__textarea:focus-visible {
  outline: none;
  border-width: 2px;
  padding: 7px 15px;
  border-color: var(--background-accent);
}

.form__error-message:not(:empty) {
  margin-top: 5px;
  padding: 8px 16px;
  background:  var(--color-red-light);
  color: var(--color-red);
  border: 1px solid var(--color-red);
  border-radius: var(--border-radius-rounded);
  pointer-events: none;
  line-height: var(--line-height-sm);
}

.form__info {
  margin: 0 0 30px;
  pointer-events: none;
}

.form__info p {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  padding: 8px 16px;
  border-radius: var(--border-radius-rounded);
  line-height: var(--line-height-sm);
}

.form__info i {
  font-size: var(--font-size-regular);
  line-height: 20px;
  margin-right: 8px;
}

.form__info .success {
  background: var(--color-azureish-white);
  color: var(--color-black);
  border-color: var(--color-border);
}

.form__info .success i {
  color: var(--color-outline);
}

.form__info .error {
  background-color: var(--color-red-light);
  border-color: var(--color-red);
  color: var(--color-red);
}

.form__info .error i {
  color: var(--color-red);
}

.form__submit {
  margin-bottom: calc(-1 * var(--button-margin-bottom));
}

.form__submit button {
  width: 100%;
}

div.form__block--error .form__label {
  color: var(--color-red) !important;
}

div.form__block--error .form__input,
div.form__block--error .form__textarea,
div.form__block--error .form__input:focus,
div.form__block--error .form__textarea:focus {
  border-color: var(--color-red);
}

div.form__block--error .form__textarea {
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .form__submit button {
    width: auto;
  }

  .form__title {
    font-size: var(--font-size-h2);
  }
}
