.header {
  position: relative;
  z-index: 1001;
  margin-top: var(--preview-height, 0px) !important;
}

.header-menu-opened,
.header-sticky {
  position: fixed;
  top: var(--header-transform, 0px);
  left: 0;
  right: 0;
	transition: top var(--animation-duration) var(--transition-function-ease-out);
}

.header__inner,
.header-sticky .header__inner {
  width: 100%;
  position: absolute;
}

.header__inner.header__inner-background,
.header-sticky .header__inner.header__inner-background {
  position: static;
}

.header__inner:has(#search-opener:checked):after,
.header__inner:has(#mobile-menu-opener:checked):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--body-height, 100vh);
  z-index: -2;
}

.header__content--padding-top {
  padding-top: var(--padding-top-mobile);
}

.header__content--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.header__content-inner {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 0px 12px;
  grid-template-areas:
    "column-1 column-2 column-3";
  align-items: center;
}

.header__mobile-menu-opener-left {
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas:
    "column-3 column-1";
}

.header__mobile-menu-opener-left .header__logo-wrapper {
  text-align: center;
}

.header__logo-wrapper {
  grid-area: column-1;
  position: relative;
  z-index: 1;
}

.header__logo-text {
  font-size: 24px;
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-semibold);
  margin: 0;
  color: currentColor;
  word-break: break-word;
}

.header__logo-image {
  max-width: 160px;
  max-height: 40px;
}

.header__date-picker-wrapper {
  grid-area: column-2;
  position: absolute;
  top: calc(100% + 16px);
  left: 50%;
  width: calc(100vw - var(--horizontal-padding-mobile, 16px) * 2);
  transform: translate(-50%, 0);
  z-index: -1;
}

.header__nav-wrapper {
  grid-area: column-3;
}

.header__links {
  grid-area: column-4;
  display: none;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  margin: 0;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: var(--border-radius-circle);
}

.header__search-opener {
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__search-opener svg {
  pointer-events: none;
}

.header__search-opener g {
  transition: all var(--animation-duration) var(--transition-function-ease-out);
}

.header__search-wrapper {
	pointer-events: none;
	margin: 0;
	position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
	width: 100vw;
  display: block !important;
  height: calc(var(--body-height) - var(--header-height, 39px));
  max-height: 0;
  z-index: -1;
  transition: max-height var(--animation-duration) var(--transition-function-ease-out);
}

.header__search-inner {
  display: flex;
  justify-content: center;
	padding: calc(18px + var(--header-height, 39px)) 75px 18px 18px;
  transform: translate(0, -100%);
  transition: transform var(--animation-duration) var(--transition-function-ease-out);
}

.header-transparent .header__search-inner {
  padding-top: calc(var(--header-height, 39px) - var(--top-bar-height, 0px) + 18px);
}

.touch[data-orientation='landscape'] .header__date-picker-wrapper {
  width: calc(100vw - var(--horizontal-padding-mobile, 16px) * 2 - 44px * 2);
}

.touch[data-orientation='landscape'] .header__search-inner {
  padding-right: 119px;
  padding-left: 62px;
}

.header__search-wrapper form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 720px;
}

.header-transparent .header__search-wrapper form {
  opacity: 0;
}

.header__search-reset {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid transparent;
  border-radius: var(--border-radius-circle);
  cursor: pointer;
  margin: 0 0 0 16px;
}

.header__search-reset:after,
.header__search-reset:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 18px;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: background var(--animation-duration) var(--transition-function-ease-out);
}

.header__search-reset:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header__search-input-wrapper {
  position: relative;
  flex: 1 1 auto;
}

.header__search-input-wrapper .header__search-icon {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-65%);
  z-index: 1;
}

.header__search-input {
  min-width: 230px;
  width: 100%;
  padding: 18px 18px 18px 67px;
  font-size: 16px;
  line-height: var(--line-height-sm);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background: transparent;
}

.header__search-input:focus {
  outline: none;
}

.header__search-input::-webkit-search-cancel-button {
  display: none !important;
}

.header__search-input::-webkit-search-decoration {
  display: none;
}

.header__search-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.header__search #search-opener:checked ~ .header__search-wrapper {
  pointer-events: all;
  max-height: var(--body-height);
}

.header__search #search-opener:checked ~ .header__search-wrapper .header__search-inner {
  transform: translate(0, 0);
}

.header-transparent .header__search #search-opener:checked ~ .header__search-wrapper form {
  opacity: 1;
}

.header__search ~ .header__cart {
  margin: 0 0 0 10px;
}

.header__cart {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: var(--border-radius-circle);
}

.loaded .header__search-inner {
  display: flex !important;
}

.preview-bar__container ~ .header-sticky .header__inner-background .header__search-inner {
  padding-top: calc(18px + var(--header-height, 39px) - var(--preview-height, 72px));
}

.preview-bar__container ~ .header-sticky .header__search-inner {
  padding-top: calc(18px + var(--header-height, 39px) - var(--preview-height, 72px) - var(--top-bar-height, 0px));
}

.page-scrolled .header-transparent .palette-one.header__inner .header__content,
.palette-one.header__inner-background .header__content,
.palette-one.header__inner:has(#search-opener:checked) .header__content,
.palette-one.header__inner:has(#mobile-menu-opener:checked) .header__content {
  color: var(--color-primary-1);
  background: var(--background-primary-1);
  border-bottom: 1px solid var(--color-border-1);
}

.palette-one.header__inner:has(#search-opener:checked):after,
.palette-one.header__inner:has(#mobile-menu-opener:checked):after {
  background: var(--color-primary-1-67);
}

.palette-one .header__search {
  border-color: var(--background-accent-1);
}

.palette-one .header__search-inner {
  background: var(--background-primary-1);
}

.palette-one .header__search-reset {
  border-color: var(--color-border-1);
}

.palette-one .header__search-reset:after,
.palette-one .header__search-reset:before {
  background: var(--color-primary-1);
}

.palette-one .header__search-reset:hover:after,
.palette-one .header__search-reset:hover:before {
  background: var(--color-outline-1-hover);
}

.palette-one .header__search-input {
  color: var(--color-primary-1);
  border-color: var(--color-border-1);
}

.palette-one .header__search-input::placeholder {
  color: var(--color-placeholder-1);
}

.palette-one .header__search-input:-webkit-autofill,
.palette-one .header__search-input:autofill {
  box-shadow: inset 0 0 0 150px var(--background-primary-1) !important;
}

.palette-one .header__search-opener g {
  stroke: var(--background-primary-1);
}

.palette-one .header__search-icon g,
.palette-one.header__inner-background .header__search-opener g,
.page-scrolled .header-transparent .palette-one .header__search-opener g,
.palette-one.header__inner:has(#search-opener:checked) .header__search-opener g,
.palette-one.header__inner:has(#mobile-menu-opener:checked) .header__search-opener g {
  stroke: var(--color-primary-1);
}

.palette-one .header__search #search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline-1);
}

.palette-one .header__search-opener:hover g {
  stroke: var(--color-outline-1-hover);
}

.palette-one .header__cart {
  border-color: var(--background-accent-1);
}

.palette-one .header__cart .fa-spinner-third {
  color: var(--background-primary-1);
}

.palette-one.header__inner-background .header__cart .fa-spinner-third {
  color: var(--color-primary-1);
}

.page-scrolled .header-transparent .palette-two.header__inner .header__content,
.palette-two.header__inner-background .header__content,
.palette-two.header__inner:has(#search-opener:checked) .header__content,
.palette-two.header__inner:has(#mobile-menu-opener:checked) .header__content {
  color: var(--color-primary-2);
  background: var(--background-primary-2);
  border-bottom: 1px solid var(--color-border-2);
}

.palette-two.header__inner:has(#search-opener:checked):after,
.palette-two.header__inner:has(#mobile-menu-opener:checked):after {
  background: var(--color-primary-2-67);
}

.palette-two .header__search {
  border-color: var(--background-accent-2);
}

.palette-two .header__search-inner {
  background: var(--background-primary-2);
}

.palette-two .header__search-reset {
  border-color: var(--color-border-2);
}

.palette-two .header__search-reset:after,
.palette-two .header__search-reset:before {
  background: var(--color-primary-2);
}

.palette-two .header__search-reset:hover:after,
.palette-two .header__search-reset:hover:before {
  background: var(--color-outline-2-hover);
}

.palette-two .header__search-input {
  color: var(--color-primary-2);
  border-color: var(--color-border-2);
}

.palette-two .header__search-input::placeholder {
  color: var(--color-placeholder-2);
}

.palette-two .header__search-input:-webkit-autofill,
.palette-two .header__search-input:autofill {
  box-shadow: inset 0 0 0 150px var(--background-primary-2) !important;
}

.palette-two .header__search-opener g {
  stroke: var(--background-primary-2);
}

.palette-two .header__search-icon g,
.palette-two.header__inner-background .header__search-opener g,
.page-scrolled .header-transparent .palette-two .header__search-opener g,
.palette-two.header__inner:has(#search-opener:checked) .header__search-opener g,
.palette-two.header__inner:has(#mobile-menu-opener:checked) .header__search-opener g {
  stroke: var(--color-primary-2)
}

.palette-two .header__search #search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline-2);
}

.palette-two .header__search-opener:hover g {
  stroke: var(--color-outline-2-hover);
}

.palette-two .header__cart {
  border-color: var(--background-accent-2);
}

.palette-two .header__cart .fa-spinner-third {
  color: var(--background-primary-2);
}

.palette-two.header__inner-background .header__cart .fa-spinner-third {
  color: var(--color-primary-2);
}

.page-scrolled .header-transparent .palette-three.header__inner .header__content,
.palette-three.header__inner-background .header__content,
.palette-three.header__inner:has(#search-opener:checked) .header__content,
.palette-three.header__inner:has(#mobile-menu-opener:checked) .header__content {
  color: var(--color-primary-3);
  background: var(--background-primary-3);
  border-bottom: 1px solid var(--color-border-3);
}

.palette-three.header__inner:has(#search-opener:checked):after,
.palette-three.header__inner:has(#mobile-menu-opener:checked):after {
  background: var(--color-primary-3-67);
}

.palette-three .header__search {
  border-color: var(--background-accent-3);
}

.palette-three .header__search-inner {
  background: var(--background-primary-3);
}

.palette-three .header__search-reset {
  border-color: var(--color-border-3);
}

.palette-three .header__search-reset:after,
.palette-three .header__search-reset:before {
  background: var(--color-primary-3);
}

.palette-three .header__search-reset:hover:after,
.palette-three .header__search-reset:hover:before {
  background: var(--color-outline-3-hover);
}

.palette-three .header__search-input {
  color: var(--color-primary-3);
  border-color: var(--color-border-3);
}

.palette-three .header__search-input::placeholder {
  color: var(--color-placeholder-3);
}

.palette-three .header__search-input:-webkit-autofill,
.palette-three .header__search-input:autofill {
  box-shadow: inset 0 0 0 150px var(--background-primary-3) !important;
}

.palette-three .header__search-opener g {
  stroke: var(--background-primary-3);
}

.palette-three .header__search-icon g,
.palette-three.header__inner-background .header__search-opener g,
.page-scrolled .header-transparent .palette-three .header__search-opener g,
.palette-three.header__inner:has(#search-opener:checked) .header__search-opener g,
.palette-three.header__inner:has(#mobile-menu-opener:checked) .header__search-opener g {
  stroke: var(--color-primary-3)
}

.palette-three .header__search #search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline-3);
}

.palette-three .header__search-opener:hover g {
  stroke: var(--color-outline-3-hover);
}

.palette-three .header__cart {
  border-color: var(--background-accent-3);
}

.palette-three .header__cart .fa-spinner-third {
  color: var(--background-primary-3);
}

.palette-three.header__inner-background .header__cart .fa-spinner-third {
  color: var(--color-primary-3);
}

.page-scrolled .header-transparent .palette-four.header__inner .header__content,
.palette-four.header__inner-background .header__content,
.palette-four.header__inner:has(#search-opener:checked) .header__content,
.palette-four.header__inner:has(#mobile-menu-opener:checked) .header__content {
  color: var(--color-primary-4);
  background: var(--background-primary-4);
  border-bottom: 1px solid var(--color-border-4);
}

.palette-four.header__inner:has(#search-opener:checked):after,
.palette-four.header__inner:has(#mobile-menu-opener:checked):after {
  background: var(--color-primary-4-67);
}

.palette-four .header__search {
  border-color: var(--background-accent-4);
}

.palette-four .header__search-inner {
  background: var(--background-primary-4);
}

.palette-four .header__search-reset {
  border-color: var(--color-border-4);
}

.palette-four .header__search-reset:after,
.palette-four .header__search-reset:before {
  background: var(--color-primary-4);
}

.palette-four .header__search-reset:hover:after,
.palette-four .header__search-reset:hover:before {
  background: var(--color-outline-4-hover);
}

.palette-four .header__search-input {
  color: var(--color-primary-4);
  border-color: var(--color-border-4);
}

.palette-four .header__search-input::placeholder {
  color: var(--color-placeholder-4);
}

.palette-four .header__search-input:-webkit-autofill,
.palette-four .header__search-input:autofill {
  box-shadow: inset 0 0 0 150px var(--background-primary-4) !important;
}

.palette-four .header__search-opener g {
  stroke: var(--background-primary-4);
}

.palette-four .header__search-icon g,
.palette-four.header__inner-background .header__search-opener g,
.page-scrolled .header-transparent .palette-four .header__search-opener g,
.palette-four.header__inner:has(#search-opener:checked) .header__search-opener g,
.palette-four.header__inner:has(#mobile-menu-opener:checked) .header__search-opener g {
  stroke: var(--color-primary-4)
}

.palette-four .header__search #search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline-4);
}

.palette-four .header__search-opener:hover g {
  stroke: var(--color-outline-4-hover);
}

.palette-four .header__cart {
  border-color: var(--background-accent-4);
}

.palette-four .header__cart .fa-spinner-third {
  color: var(--background-primary-4);
}

.palette-four.header__inner-background .header__cart .fa-spinner-third {
  color: var(--color-primary-4);
}

.page-scrolled .header-transparent .palette-five.header__inner .header__content,
.palette-five.header__inner-background .header__content,
.palette-five.header__inner:has(#search-opener:checked) .header__content,
.palette-five.header__inner:has(#mobile-menu-opener:checked) .header__content {
  color: var(--color-primary-5);
  background: var(--background-primary-5);
  border-bottom: 1px solid var(--color-border-5);
}

.palette-five.header__inner:has(#search-opener:checked):after,
.palette-five.header__inner:has(#mobile-menu-opener:checked):after {
  background: var(--color-primary-5-67);
}

.palette-five .header__search {
  border-color: var(--background-accent-5);
}

.palette-five .header__search-inner {
  background: var(--background-primary-5);
}

.palette-five .header__search-reset {
  border-color: var(--color-border-5);
}

.palette-five .header__search-reset:after,
.palette-five .header__search-reset:before {
  background: var(--color-primary-5);
}

.palette-five .header__search-reset:hover:after,
.palette-five .header__search-reset:hover:before {
  background: var(--color-outline-5-hover);
}

.palette-five .header__search-input {
  color: var(--color-primary-5);
  background: var(--background-primary-5);
  border-color: var(--color-border-5);
}

.palette-five .header__search-input::placeholder {
  color: var(--color-placeholder-5);
}

.palette-five .header__search-input:-webkit-autofill,
.palette-five .header__search-input:autofill {
  box-shadow: inset 0 0 0 150px var(--background-primary-5) !important;
}

.palette-five .header__search-opener g {
  stroke: var(--background-primary-5);
}

.palette-five .header__search-icon g,
.palette-five.header__inner-background .header__search-opener g,
.page-scrolled .header-transparent .palette-five .header__search-opener g,
.palette-five.header__inner:has(#search-opener:checked) .header__search-opener g,
.palette-five.header__inner:has(#mobile-menu-opener:checked) .header__search-opener g {
  stroke: var(--color-primary-5)
}

.palette-five .header__search #search-opener:checked ~ .header__search-opener g {
  stroke: var(--color-outline-5);
}

.palette-five .header__search-opener:hover g {
  stroke: var(--color-outline-5-hover);
}

.palette-five .header__cart {
  border-color: var(--background-accent-5);
}

.palette-five .header__cart .fa-spinner-third {
  color: var(--background-primary-5);
}

.palette-five.header__inner-background .header__cart .fa-spinner-third {
  color: var(--color-primary-5);
}

@media (min-width: 768px) {
  .header__links {
    display: flex;
  }

  .header__content-inner {
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas:
      "column-1 column-2 column-3";
  }

  .header__content-inner--with-search,
  .header__content-inner--with-cart {
    grid-template-columns: max-content 1fr max-content max-content;
    grid-template-areas:
      "column-1 column-2 column-3 column-4";
  }
}

@media (min-width: 992px) {
  .header__date-picker-wrapper {
    position: static;
    width: auto;
    transform: translate(0, 0);
    padding: 0 10px;
    z-index: 0;
  }
}

@media (min-width: 1100px) {
  .header__content--padding-top {
    padding-top: var(--padding-top);
  }

  .header__content--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }
}
