.image-gallery__wrapper {
  background: var(--background-primary);
}

.image-gallery__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.image-gallery__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.image-gallery__title {
  margin-bottom: 32px;
  text-align: center;
}

.image-gallery__container .image-gallery__images {
  margin-right: calc(-1 * var(--horizontal-padding-mobile));
  margin-left: calc(-1 * var(--horizontal-padding-mobile));
}

.image-gallery__images {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-padding: 0 16px 0 0;
  scroll-behavior: smooth !important;
  -ms-overflow-style: none;
  display: flex;
  align-items: stretch;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  gap: 8px;
}

.image-gallery__image-wrapper {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 25%;
  min-width: 353px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: var(--border-radius-rounded-blocks);
  position: relative;
}

.image-gallery__image-wrapper img {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
}

.image-gallery__link {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}

@media (min-width: 992px) {
  .image-gallery__wrapper--padding-top {
    padding-top: var(--padding-top, 0);
  }

  .image-gallery__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 0);
  }

  .image-gallery__title {
    font-size: var(--font-size-h3);
  }

  .image-gallery__image-wrapper {
    min-width: auto;
    width: auto;
  }

  .image-gallery__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .image-gallery__container .image-gallery__images {
    margin-right: calc(-1 * var(--horizontal-padding));
    margin-left: calc(-1 * var(--horizontal-padding));
  }
}
