.images__wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: stretch;
}

.images__container {
  min-height: 515px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.images__container--padding-top {
  padding-top: var(--padding-top-mobile);
}

.images__container--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.images__text-area {
  height: 100%;
  display: flex;
  justify-content: var(--text-justify-content-mobile);
  align-items: var(--text-align-items-mobile);
  text-align: var(--text-align-mobile);
  margin: 0 var(--margin-right-mobile) 0 var(--margin-left-mobile);
}

.images__title {
  font-size: var(--font-size-h2);
}

.images__title * {
  font-family: var(--font-heading);
}

.images__description:not(:last-child) {
  padding: 0 0 38px;
}

.images__description:last-child {
  padding-bottom: 0;
}

.images__buttons {
  margin: 0 -8px calc(-1 * var(--button-margin-bottom));
}

.images__button {
  margin-left: 8px;
  margin-right: 8px;
}

.images__vision {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.images__vision-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}

.images__vision-wrapper--desktop {
  display: none;
}

.images__vision-wrapper--overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: var(--opacity-overlay);
}

.images__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.images__video {
  pointer-events: none;
  height: 100%;
}

.images .carousel__wrapper {
  padding-bottom: 0;
  width: 100%;
  margin: 0;
  scroll-padding: 0;
}

@keyframes move {
  0% {
    transform: translateY(15%) rotate(90deg);
  }

  33% {
    transform: translateY(75%) rotate(90deg);
  }

  66% {
    transform: translateY(-20%) rotate(90deg);
  }

  100% {
    transform: translateY(15%) rotate(90deg);
  }
}

.images__wrapper-with-date-picker {
  flex-direction: column;
}

.images__wrapper-with-date-picker .images__container--padding-bottom {
  padding-bottom: calc(var(--padding-bottom-mobile) + var(--date-picker-block-height, 70px));
}

.images__wrapper-with-date-picker .images__vision {
  bottom: calc(var(--date-picker-height, 70px) / 2 - 5px);
}

.images__date-picker {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.images__date-picker-container {
  margin-top: -1px;
  padding-bottom: 1px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.images__date-picker-icon {
  margin: 0 8px 0 0;
}

.images__date-picker-icon svg {
  transform: translateY(15%) rotate(90deg);
  animation: 1.5s infinite alternate move;
  width: 16px;
  height: 17px;
}

.images__date-picker-title {
  display: flex;
  font-size: 18px;
  font-weight: var(--font-weight-regular);
}

.images__date-picker-component {
  min-height: var(--date-picker-height);
  margin: 0 1px;
}

.images__date-picker-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(var(--date-picker-height, 80px) / 2);
}

.palette-one .overlay-dark .images__title,
.palette-one .overlay-dark .images__description {
  color: var(--color-overlay-1);
}

.palette-one .overlay-dark .images__buttons .button--outlined {
  color: var(--color-overlay-1);
}

.palette-one .overlay-dark .images__vision,
.palette-one .overlay-dark ~ .images__vision {
  background: var(--background-overlay-1);
}

.palette-one .overlay-dark .images__vision .images__vision-wrapper--overlay:after,
.palette-one .overlay-dark ~ .images__vision .images__vision-wrapper--overlay:after {
  background: linear-gradient(357.73deg, var(--background-overlay-1) 3.03%, var(--background-overlay-1-00) 31.83%),
   linear-gradient(180deg, var(--background-overlay-1) 6.67%, var(--background-overlay-1-00) 105.81%),
   linear-gradient(0deg, var(--background-overlay-1-45), var(--background-overlay-1-45));
}

.palette-one .overlay-light .images__title,
.palette-one .overlay-light .images__description {
  color: var(--background-overlay-1);
}

.palette-one .overlay-light .images__buttons .button--outlined {
  color: var(--background-overlay-1);
}

.palette-one .overlay-light .images__vision,
.palette-one .overlay-light ~ .images__vision {
  background: var(--color-overlay-1);
}

.palette-one .overlay-light .images__vision .images__vision-wrapper--overlay:after,
.palette-one .overlay-light ~ .images__vision .images__vision-wrapper--overlay:after {
  background: linear-gradient(357.73deg, var(--color-overlay-1) 3.03%, var(--color-overlay-1-00) 31.83%),
   linear-gradient(180deg, var(--color-overlay-1) 6.67%, var(--color-overlay-1-00) 105.81%),
   linear-gradient(0deg, var(--color-overlay-1-45), var(--color-overlay-1-45));
}

.palette-one .images__date-picker-overlay {
  background: var(--background-primary-1);
}

.palette-one > .overlay-light ~ .images__date-picker path,
.palette-one .images__date-picker.show-overlay-light .images__date-picker-icon path {
  fill: var(--background-overlay-1);
}

.palette-one > .overlay-light ~ .images__date-picker .images__date-picker-title,
.palette-one .images__date-picker.show-overlay-light .images__date-picker-title {
  color: var(--background-overlay-1);
}

.palette-one > .overlay-dark ~ .images__date-picker path,
.palette-one .images__date-picker.show-overlay-dark .images__date-picker-icon path {
  fill: var(--color-overlay-1);
}

.palette-one > .overlay-dark ~ .images__date-picker .images__date-picker-title,
.palette-one .images__date-picker.show-overlay-dark .images__date-picker-title {
  color: var(--color-overlay-1);
}

.palette-two .overlay-dark .images__title,
.palette-two .overlay-dark .images__description {
  color: var(--color-overlay-2);
}

.palette-two .overlay-dark .images__buttons .button--outlined {
  color: var(--color-overlay-2);
}

.palette-two .overlay-dark .images__vision,
.palette-two .overlay-dark ~ .images__vision {
  background: var(--background-overlay-2);
}

.palette-two .overlay-dark .images__vision .images__vision-wrapper--overlay:after,
.palette-two .overlay-dark ~ .images__vision .images__vision-wrapper--overlay:after {
  background: linear-gradient(357.73deg, var(--background-overlay-2) 3.03%, var(--background-overlay-2-00) 31.83%),
   linear-gradient(180deg, var(--background-overlay-2) 6.67%, var(--background-overlay-2-00) 105.81%),
   linear-gradient(0deg, var(--background-overlay-2-45), var(--background-overlay-2-45));
}

.palette-two .overlay-light .images__title,
.palette-two .overlay-light .images__description {
  color: var(--background-overlay-2);
}

.palette-two .overlay-light .images__buttons .button--outlined {
  color: var(--background-overlay-2);
}

.palette-two .overlay-light .images__vision,
.palette-two .overlay-light ~ .images__vision {
  background: var(--color-overlay-2);
}

.palette-two .overlay-light .images__vision .images__vision-wrapper--overlay:after,
.palette-two .overlay-light ~ .images__vision .images__vision-wrapper--overlay:after {
  background: linear-gradient(357.73deg, var(--color-overlay-2) 3.03%, var(--color-overlay-2-00) 31.83%),
   linear-gradient(180deg, var(--color-overlay-2) 6.67%, var(--color-overlay-2-00) 105.81%),
   linear-gradient(0deg, var(--color-overlay-2-45), var(--color-overlay-2-45));
}

.palette-two .images__date-picker-overlay {
  background: var(--background-primary-2);
}

.palette-two > .overlay-light ~ .images__date-picker path,
.palette-two .images__date-picker.show-overlay-light .images__date-picker-icon path {
  fill: var(--background-overlay-2);
}

.palette-two > .overlay-light ~ .images__date-picker .images__date-picker-title,
.palette-two .images__date-picker.show-overlay-light .images__date-picker-title {
  color: var(--background-overlay-2);
}

.palette-two > .overlay-dark ~ .images__date-picker path,
.palette-two .images__date-picker.show-overlay-dark .images__date-picker-icon path {
  fill: var(--color-overlay-2);
}

.palette-two > .overlay-dark ~ .images__date-picker .images__date-picker-title,
.palette-two .images__date-picker.show-overlay-dark .images__date-picker-title {
  color: var(--color-overlay-2);
}

@media (min-width: 428px) {
  .images__container {
    min-height: 560px;
  }
}

@media (min-width: 768px) {
  .images__vision-wrapper--desktop {
    display: block;
  }

  .images__vision-wrapper--mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .images__container {
    height: calc(var(--height, auto) - var(--header-height, 105px));
  }

  .images__container--padding-top {
    padding-top: var(--padding-top);
  }

  .images__container--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .images__vision-wrapper {
    display: block;
  }

  .images__vision-wrapper--mobile {
    display: none;
  }

  .images__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: none;
    object-fit: cover;
  }

  .images__text-area {
    justify-content: var(--text-justify-content);
    align-items: var(--text-align-items);
    text-align: var(--text-align);
    margin: 0 var(--margin-right) 0 var(--margin-left);
  }

  .images__title {
    font-size: calc(var(--font-size-h1) + 1rem);
  }

  .images__description {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
  }

  .images__wrapper-full-height .images__video {
    width: auto;
    height: 100%;
  }

  .images__wrapper-with-date-picker .images__container {
    height: calc(var(--height, auto) - var(--header-height, 105px) + var(--date-picker-block-height, 70px) + var(--padding-bottom));
  }

  .images__wrapper-with-date-picker .images__container--padding-bottom {
    padding-bottom: calc(var(--padding-bottom) + var(--date-picker-block-height, 70px));
  }
}

@media (min-width: 1920px) {
  .images__wrapper-full-height .images__video {
    width: 100%;
    height: auto;
  }
}
