.images__wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: stretch;
}

.images__container {
  min-height: 515px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.images__container--padding-top {
  padding-top: var(--padding-top-mobile);
}

.header-transparent ~ main .images__container--padding-top {
  padding-top: calc(var(--padding-top-mobile) + var(--header-height, 110px) - var(--top-bar-height, 0px));
}

.images__container--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.images__text-area {
  height: 100%;
  display: flex;
  justify-content: var(--text-justify-content-mobile);
  align-items: var(--text-align-items-mobile);
  text-align: var(--text-align-mobile);
  margin: 0 var(--margin-right-mobile) 0 var(--margin-left-mobile);
}

.images__title {
  font-size: var(--font-size-h3);
}

.images__title * {
  font-family: var(--font-heading);
}

.images__description:not(:last-child) {
  padding: 0 0 38px;
}

.images__description:last-child {
  padding-bottom: 0;
}

.images__buttons {
  margin: 52px -8px calc(-1 * var(--button-margin-bottom));
}

.images__button {
  margin-left: 8px;
  margin-right: 8px;
  width: calc(100% - 16px);
}

.images__vision {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.images__vision-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}

.images__vision-wrapper--desktop {
  display: none;
}

.images__vision-wrapper--overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: var(--overlay-opacity);
  background: linear-gradient(var(--direction-overlay-mobile), var(--overlay-background) 25.94%, var(--overlay-background-00) 100%);
}

.images__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.images__video {
  pointer-events: none;
  height: 100%;
}

.images .carousel__wrapper {
  padding-bottom: 0;
  width: 100%;
  margin: 0;
  scroll-padding: 0;
}

.palette-one .images__content {
  color: var(--color-primary-1);
}

.palette-one .images__vision {
  background: var(--background-primary-1);
}

.palette-two .images__content {
  color: var(--color-primary-2);
}

.palette-two .images__vision {
  background: var(--background-primary-2);
}

.palette-three .images__content {
  color: var(--color-primary-3);
}

.palette-three .images__vision {
  background: var(--background-primary-3);
}

.palette-four .images__content {
  color: var(--color-primary-4);
}

.palette-four .images__vision {
  background: var(--background-primary-4);
}

.palette-five .images__content {
  color: var(--color-primary-5);
}

.palette-five .images__vision {
  background: var(--background-primary-5);
}

.palette-one .images__text-area--color .images__content,
.palette-one .images__text-area--color .images__title,
.palette-one .images__text-area--color .images__buttons .button--outlined,
.palette-two .images__text-area--color .images__content,
.palette-two .images__text-area--color .images__title,
.palette-two .images__text-area--color .images__buttons .button--outlined,
.palette-three .images__text-area--color .images__content,
.palette-three .images__text-area--color .images__title,
.palette-three .images__text-area--color .images__buttons .button--outlined,
.palette-four .images__text-area--color .images__content,
.palette-four .images__text-area--color .images__title,
.palette-four .images__text-area--color .images__buttons .button--outlined,
.palette-five .images__text-area--color .images__content,
.palette-five .images__text-area--color .images__title,
.palette-five .images__text-area--color .images__buttons .button--outlined {
  color: var(--overlay-color);
}

@media (min-width: 428px) {
  .images__container {
    min-height: 560px;
  }
}

@media (min-width: 667px) {
  .images__button {
    width: auto;
  }
}

@media (min-width: 768px) {
  .images__vision-wrapper--desktop {
    display: block;
  }

  .images__vision-wrapper--mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .images__container {
    min-height: calc(var(--height, auto) - var(--header-height, 105px));
  }

  .images__container--padding-top {
    padding-top: var(--padding-top);
  }

  .header-transparent ~ main .images__container--padding-top {
    padding-top: calc(var(--padding-top) + var(--header-height, 110px) - var(--top-bar-height, 0px));
  }

  .images__container--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .images__vision-wrapper {
    display: block;
  }

  .images__vision-wrapper--mobile {
    display: none;
  }

  .images__vision-wrapper--overlay:after {
    background: linear-gradient(var(--direction-overlay), var(--overlay-background) 25.94%, var(--overlay-background-00) 100%);
  }

  .images__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: none;
    object-fit: cover;
  }

  .images__text-area {
    justify-content: var(--text-justify-content);
    align-items: var(--text-align-items);
    text-align: var(--text-align);
    margin: 0 var(--margin-right) 0 var(--margin-left);
  }

  .images__title {
    font-size: var(--font-size-h1);
    margin-bottom: 34px;
  }

  .images__buttons {
    margin-top: 0;
  }

  .images__wrapper-full-height .images__video {
    width: auto;
    height: 100%;
  }
}

@media (min-width: 1420px) {
  .images__wrapper-full-height .images__video {
    width: calc(100% + 40px);
    height: auto;
  }
}
