
.locations__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 70px);
}

.locations__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 70px);
}

.palette-one.locations__wrapper {
  background: var(--background-primary, #FFFFFF);
}

.palette-two.locations__wrapper {
  background: var(--background-primary-2, #1A3333);
}

@media (min-width: 992px) {
  .locations__wrapper--padding-top {
    padding-top: var(--padding-top, 112px);
  }

  .locations__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 112px);
  }
}
