.logos__wrapper {
  background: var(--background-primary);
}

.logos__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.logos__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.logos__title {
  margin-bottom: 40px;
  text-align: center;
  color: var(--color-primary);
}

.logos__images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 15px;
}

.logos__images-wrapper {
  padding: 15px 0 6px;
}

.logos__images-wrapper img {
  max-height: 100px;
  width: auto;
  margin: 0 auto;
}

.logos__image-placeholder,
.logos__image-wrapper:has(.logos__image-placeholder) .logos__image {
  height: 50px;
}

@media (min-width: 992px) {
  .logos__wrapper--padding-top {
    padding-top: var(--padding-top, 0);
  }

  .logos__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 0);
  }

  .logos__images {
    gap: 52px;
    padding-top: 31px;
  }

  .logos__images-wrapper {
    padding: 0;
  }

  .logos__images-wrapper img {
    max-height: 150px;
  }
}
