.mosaic__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 48px);
}

.mosaic__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 48px);
}

.mosaic__list {
  position: relative;
}

.mosaic__item {
  padding: 15px;
  border: 1px solid transparent;
  overflow: hidden;
  margin: 0 0 30px;
}

.mosaic__item-col {
  height: 100%;
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.mosaic__item-col.no-image {
  height: 50px;
}

.mosaic__item-col.no-image + .mosaic__item-col {
  height: auto;
}

.mosaic__text-area {
  padding: 16px 0;
}

.mosaic__tag {
  margin: 0 0 8px;
  font-family: var(--font-body, sans-serif);
  font-size: 14px;
}

.mosaic__heading {
  font-weight: var(--font-weight-bold, 700);
  margin-bottom: 16px;
  max-width: 450px;
}

.mosaic__button {
  margin: 34px 0 0;
}

.mosaic__image {
  max-height: 50px;
}

.mosaic__list-left .mosaic__item:nth-child(3n + 1) .mosaic__item-col:first-child,
.mosaic__list-right .mosaic__item:nth-child(3n) .mosaic__item-col:first-child {
  margin: 0;
  width: 100%;
}

.mosaic__list-left .mosaic__item:nth-child(3n + 1) .mosaic__item-col:first-child.no-image,
.mosaic__list-right .mosaic__item:nth-child(3n) .mosaic__item-col:first-child.no-image,
.mosaic__list-left .mosaic__item:nth-child(3n + 1) .mosaic__item-col--image,
.mosaic__list-right .mosaic__item:nth-child(3n) .mosaic__item-col--image {
  aspect-ratio: 1 / 0.76;
  height: auto;
}

.mosaic__list-left .mosaic__item:nth-child(3n + 1) .mosaic__item-col:first-child .mosaic__image,
.mosaic__list-right .mosaic__item:nth-child(3n) .mosaic__item-col:first-child .mosaic__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;
  max-height: none;
}

.mosaic__list-small .mosaic__item-col {
  margin: 0;
  width: 100%;
}

.mosaic__list-small .mosaic__image {
  max-height: none;
  max-width: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mosaic__list-small .mosaic__item-col.no-image,
.mosaic__list-small .mosaic__item-col--image {
  height: auto;
  aspect-ratio: 1 / 0.867;
  position: relative;
}

.mosaic__show-wrapper {
  padding: 8px 0 0;
  text-align: center;
}

.palette-one.mosaic__wrapper {
  color: var(--color-secondary, #4E5D78);
  background: var(--background-primary, #FFFFFF);
}

.palette-one .mosaic__item {
  background: var(--background-primary, #FFFFFF);
  border-color: var(--color-border, #0B1A2626);
}

.palette-one .mosaic__item-col.no-image {
  background: var(--color-image-placeholder, #0B1A2626);
}

.palette-one .mosaic__heading,
.palette-one .mosaic__button.button {
  color: var(--color-primary, #0B1A26);
}

.palette-one .mosaic__button.button path {
  fill: var(--color-primary, #0B1A26);
}

.palette-one .mosaic__button.button:hover,
.palette-two .mosaic__button.button:hover {
  text-shadow: 0.5px 0 currentColor;
}

.palette-two.mosaic__wrapper {
  color: var(--color-secondary-2, #4E5D78);
  background: var(--background-primary-2, #0B1A26);
}

.palette-two .mosaic__item {
  background: var(--background-primary-2, #0B1A26);
  border-color: var(--color-border-2, #FFFFFF47);
}

.palette-two .mosaic__item-col.no-image {
  background: var(--color-image-placeholder-2, #FFFFFF47);
}

.palette-two .mosaic__heading,
.palette-two .mosaic__button.button {
  color: var(--color-primary-2, #FFFFFF);
}

.palette-two .mosaic__button.button path {
  fill: var(--color-primary-2, #FFFFFF);
}

.classic-design .mosaic__item-col {
  width: auto;
  margin: 0 4px;
}

.classic-design .mosaic__list-small .mosaic__item-col {
  margin: 0;
  width: 100%;
}

.classic-design .mosaic__tag {
  font-weight: var(--font-weight-regular, 400);
  padding: 4px 8px;
  border: 1px solid transparent;
}

.classic-design .mosaic__item {
  padding: 8px;
}

.classic-design .mosaic__list-small .mosaic__item {
  padding: 0;
}

.classic-design .mosaic__list-small .mosaic__text-area {
  padding-left: 0;
  padding-right: 0;
}

.classic-design .palette-one .mosaic__item,
.classic-design .palette-one .mosaic__tag {
  border-color: var(--color-outline, #F4B841);
}

.classic-design .palette-two .mosaic__item,
.classic-design .palette-two .mosaic__tag {
  border-color: var(--color-outline-2, #F4B841);
}

.classic-design .palette-one .mosaic__list-small .mosaic__item,
.classic-design .palette-two .mosaic__list-small .mosaic__item {
  border: transparent;
}

@media (min-width: 992px) {
  .mosaic__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: var(--grid-auto-flow);
    margin: 0 -16px;
  }

  .mosaic__list-two-rows {
    grid-template-rows: repeat(var(--grid-row), minmax(0, 1fr));
  }

  .mosaic__item {
    margin: 16px;
    padding: 22px;
  }

  .mosaic__item-col {
    height: auto;
  }

  .mosaic__text-area {
    padding: 10px;
  }

  .mosaic__show-wrapper {
    padding: 78px 0 0;
  }

  .mosaic__list-left .mosaic__item:nth-child(3n + 1),
  .mosaic__list-right .mosaic__item:nth-child(3n) {
    grid-column: 1 / 3;
    grid-row: span 2 / span 2;
    display: flex;
    align-items: center;
  }

  .mosaic__list-right .mosaic__item:nth-child(3n) {
    grid-column: -1 / 2;
  }

  .mosaic__list-right .mosaic__item:nth-child(3n + 2) {
    grid-column: 1 / 1;
  }

  .mosaic__list-left .mosaic__item:nth-child(3n + 1) .mosaic__item-col,
  .mosaic__list-right .mosaic__item:nth-child(3n) .mosaic__item-col {
    width: 47%;
    display: flex;
    align-items: center;
  }

  .mosaic__list-left .mosaic__item:nth-child(3n + 1) .mosaic__item-col:first-child,
  .mosaic__list-right .mosaic__item:nth-child(3n) .mosaic__item-col:first-child {
    aspect-ratio: 1 / 1.3;
    width: 53%;
    height: 100%;
  }

  .mosaic__list-left .mosaic__item:nth-child(3n + 1) .mosaic__item-col:first-child.no-image,
  .mosaic__list-right .mosaic__item:nth-child(3n) .mosaic__item-col:first-child.no-image,
  .mosaic__list-left .mosaic__item:nth-child(3n + 1) .mosaic__item-col--image,
  .mosaic__list-right .mosaic__item:nth-child(3n) .mosaic__item-col--image {
    height: 100%;
  }

  .mosaic__item-col--image,
  .mosaic__list-left .mosaic__item-col.no-image,
  .mosaic__list-right .mosaic__item-col.no-image {
    aspect-ratio: 1 / 0.2;
  }

  .mosaic__list-left .mosaic__text-area,
  .mosaic__list-right .mosaic__text-area {
    padding: 10px 0 0;
  }

  .mosaic__list-left .mosaic__item:nth-child(3n + 1) .mosaic__text-area,
  .mosaic__list-right .mosaic__item:nth-child(3n) .mosaic__text-area {
    padding-left: 33px;
  }

  .classic-design .mosaic__list-small .mosaic__item {
    padding: 0;
  }
}

@media (min-width: 1100px) {
  .mosaic__wrapper--padding-top {
    padding-top: var(--padding-top, 112px);
  }

  .mosaic__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 112px);
  }

  .mosaic__tag {
    margin: 0 0 16px;
  }
}
