.pagination {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  padding: 64px 0 20px;
}

.pagination span {
  text-align: center;
  border: 1px solid var(--color-border);
  cursor: pointer;
  min-width: 40px;
}

.pagination span:not(:first-child) {
  margin-left: -1px;
}

.pagination .deco,
.pagination .current,
.pagination span a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  height: 100%;
  color: var(--color-secondary);
}

.pagination .deco,
.pagination .current {
  position: relative;
  z-index: 1;
  background: var(--background-accent);
  color: var(--color-accent);
}

.pagination .page:not(.current),
.pagination .page:not(.current) a,
.pagination .prev:not([data-enabled="false"]),
.pagination .prev:not([data-enabled="false"]) a,
.pagination .next:not([data-enabled="false"]),
.pagination .next:not([data-enabled="false"]) a {
  transition: all var(--animation-duration) var(--transition-function-ease);
}

.pagination .page:not(.current):hover,
.pagination .prev:not([data-enabled="false"]):hover,
.pagination .next:not([data-enabled="false"]):hover {
  border-color: var(--background-accent);
}

.pagination .page:not(.current):hover a,
.pagination .prev:not([data-enabled="false"]):hover a,
.pagination .next:not([data-enabled="false"]):hover a {
  background: var(--background-accent);
  color: var(--color-accent);
}

.pagination span[data-enabled="false"],
.pagination .deco,
.pagination .current {
  cursor: initial;
  pointer-events: none;
}

.pagination .prev {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  overflow: hidden;
}

.pagination .next {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  overflow: hidden;
}

.pagination .prev svg {
  transform: rotate(180deg);
}

.pagination path {
  fill: var(--color-secondary);
}

.pagination .prev[data-enabled="true"] a:hover path,
.pagination .next[data-enabled="true"] a:hover path {
  fill: var(--color-accent);
}
