.products__wrapper--padding-top {
  padding-top: var(--padding-top-mobile);
}

.products__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.products__list {
  display: flex;
}

.palette-one.products__wrapper {
  background: var(--background-primary-1);
}

.palette-two.products__wrapper {
  background: var(--background-primary-2);
}

@media (min-width: 1200px) {
  .products__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .products__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }
}
