.product-card {
  display: grid;
  grid-template-rows: max-content 1fr;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-card--full-border,
.product-card--image-border .product-card__vision {
  border-radius: var(--border-radius-rounded-blocks);
}

.product-card__vision {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.product-card__vision .product-card__link {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.product-card__vision:after {
  content: "";
  display: block;
  aspect-ratio: 1 / 1.62;
}

.product-card__image {
  display: block;
  position: absolute;
  max-width: none;
}

.product-card__image:not(.focal-image) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__meta {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-card--full-border .product-card__meta {
  padding: 15px;
}

.product-card__title {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: var(--line-height-lg);
  margin: 0;
  flex-grow: 0;
}

.product-card__description {
  font-size: 14px;
  padding: 4px 0 8px;
  flex-grow: 0;
}

.product-card__price-info {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  padding-top: 6px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.product-card__price-wrapper {
  display: flex;
  align-items: flex-end;
}

.product-card__price,
bq-product-price {
  font-size: 16px;
}

.product-card__price-separator {
  padding: 0 3px;
}

bq-product-availability {
  font-size: 14px;
  line-height: var(--line-height-xs);
  font-weight: var(--font-weight-medium);
}

bq-product-availability[visible="true"] {
  display: inline-block;
  margin: 9px 0 16px;
}

.palette-one .product-card {
  color: var(--color-secondary-1);
  background: var(--background-primary-1);
}

.palette-one .product-card--full-border {
  border: 1px solid var(--color-border-1);
}

.palette-one .product-card--image-border .product-card__vision {
  border: 1px solid var(--color-border-1);
}

.palette-one .product-card__vision.no-image {
  background: var(--color-image-placeholder-1);
}

.palette-one .product-card__price-info {
  color: var(--color-primary-1);
}

.palette-one .product-card__price,
.palette-one bq-product-price {
  color: var(--color-outline-1);
}

.palette-two .product-card {
  color: var(--color-secondary-2);
  background: var(--background-primary-2);
}

.palette-two .product-card--full-border {
  border: 1px solid var(--color-border-2);
}

.palette-two .product-card--image-border .product-card__vision {
  border: 1px solid var(--color-border-2);
}

.palette-two .product-card__vision.no-image {
  background: var(--color-image-placeholder-2);
}

.palette-two .product-card__price-info {
  color: var(--color-primary-2);
}

.palette-two .product-card__price,
.palette-two bq-product-price {
  color: var(--color-outline-2);
}

.palette-three .product-card {
  color: var(--color-secondary-3);
  background: var(--background-primary-3);
}

.palette-three .product-card--full-border {
  border: 1px solid var(--color-border-3);
}

.palette-three .product-card--image-border .product-card__vision {
  border: 1px solid var(--color-border-3);
}

.palette-three .product-card__vision.no-image {
  background: var(--color-image-placeholder-3);
}

.palette-three .product-card__price-info {
  color: var(--color-primary-3);
}

.palette-three .product-card__price,
.palette-three bq-product-price {
  color: var(--color-outline-3);
}

.palette-four .product-card {
  color: var(--color-secondary-4);
  background: var(--background-primary-4);
}

.palette-four .product-card--full-border {
  border: 1px solid var(--color-border-4);
}

.palette-four .product-card--image-border .product-card__vision {
  border: 1px solid var(--color-border-4);
}

.palette-four .product-card__vision.no-image {
  background: var(--color-image-placeholder-4);
}

.palette-four .product-card__price-info {
  color: var(--color-primary-4);
}

.palette-four .product-card__price,
.palette-four bq-product-price {
  color: var(--color-outline-4);
}

.palette-five .product-card {
  color: var(--color-secondary-5);
  background: var(--background-primary-5);
}

.palette-five .product-card--full-border {
  border: 1px solid var(--color-border-5);
}

.palette-five .product-card--image-border .product-card__vision {
  border: 1px solid var(--color-border-5);
}

.palette-five .product-card__vision.no-image {
  background: var(--color-image-placeholder-5);
}

.palette-five .product-card__price-info {
  color: var(--color-primary-5);
}

.palette-five .product-card__price,
.palette-five bq-product-price {
  color: var(--color-outline-5);
}

@media (min-width: 992px) {
  .product-card__vision:after {
    aspect-ratio: 1 / 1.56;
  }
}
