.search__container--padding-top {
  padding-top: var(--padding-top-mobile);
}

.search__container--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 18px;
  justify-content: center;
}

.search__grid {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
}

.search-results .product-card {
  min-width: auto;
}

.palette-one.search__wrapper {
  background: var(--background-primary-1);
}

.palette-two.search__wrapper {
  background: var(--background-primary-2);
}

@media (min-width: 768px) {
  .search-results {
    justify-content: start;
    gap: 24px;
  }
}

@media (min-width: 992px) {
  .search__container--padding-top {
    padding-top: var(--padding-top);
  }

  .search__container--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .search-results {
    gap: 24px;
  }

  .search__grid {
    display: grid;
    grid-template-columns: minmax(200px, 23.25%) 1fr;
    gap: 0 5.07%;
    grid-template-areas:
      "sidebar grid"
      "pagination pagination";
  }

  .search__grid .search__sidebar {
    grid-area: sidebar;
  }

  .search__grid .search-results {
    grid-area: grid;
    grid-auto-rows: fit-content(100%);
  }

  .search__grid .search__pagination {
    grid-area: pagination;
  }
}

@media (min-width: 1080px) {
  .search-results {
    gap: 20px 32px;
    grid-template-columns: repeat(var(--grid-element), minmax(210px, 1fr));
  }
}
