.spacer__wrapper {
  height: var(--height-mobile);
  background: var(--background-primary);
}

.spacer__image {
  width: 100%;
}

@media (min-width: 992px) {
  .spacer__wrapper {
    height: var(--height);
  }
}
