.testimonials__wrapper--padding-top {
  padding-top: var(--padding-top-mobile);
}

.testimonials__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.testimonials__title {
  margin: 0 0 16px;
}

.testimonials__stars {
  padding: 0 0 40px;
}

.testimonials__star {
  margin: 0 4px 0 0;
  display: inline-block;
  vertical-align: top;
}

.testimonials__blockquote {
  font-weight: var(--font-weight-light);
  letter-spacing: -0.003em;
  padding-bottom: var(--padding-text);
}

.testimonials__quote p {
  display: initial;
}

.testimonials__cite {
  display: flex;
  flex-direction: column;
  align-items: var(--align-items, flex-start);
  font-size: 20px;
  font-weight: var(--font-weight-semibold);
  padding: 24px 0 0;
}

.testimonials__small {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

.testimonials__image-wrapper {
  padding-bottom: var(--padding-image);
}

.testimonials__image {
  margin: 0 auto;
}

.testimonials__content {
  display: flex;
  flex-direction: var(--flex-direction-mobile);
  margin: 0 -24px;
}

.testimonials__col {
  width: 100%;
  padding: 0 24px;
}

.palette-one.testimonials__wrapper {
  background: var(--background-primary-1);
}

.palette-one .testimonials__blockquote {
  color: var(--color-third-1);
}

.palette-one .testimonials__cite {
  color: var(--color-primary-1);
}

.palette-one .testimonials__small {
  color: var(--color-secondary-1);
}

.palette-two.testimonials__wrapper {
  background: var(--background-primary-2);
}

.palette-two .testimonials__blockquote {
  color: var(--color-third-2);
}

.palette-two .testimonials__cite {
  color: var(--color-primary-2);
}

.palette-two .testimonials__small {
  color: var(--color-secondary-2);
}

@media (min-width: 992px) {
  .testimonials__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .testimonials__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .testimonials__col:not(:only-child) .testimonials__title {
    margin-top: 16px;
  }

  .testimonials__blockquote {
    padding: 0;
  }

  .testimonials__content {
    flex-direction: var(--flex-direction);
  }

  .testimonials__image-wrapper {
    padding-bottom: 0;
  }
}
