.text__wrapper--padding-top {
  padding-top: var(--padding-top-mobile);
}

.text__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile);
}

.text__wrapper {
  text-align: var(--text-align);
}

.palette-one.text__wrapper {
  background: var(--background-primary-1);
  color: var(--color-third-1);
}

.palette-one .text__title {
  color: var(--color-primary-1);
}

.palette-two.text__wrapper {
  background: var(--background-primary-2);
  color: var(--color-third-2);
}

.palette-two .text__title {
  color: var(--color-primary-2);
}

@media (min-width: 992px) {
  .text__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .text__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }
}
