.text__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 24px);
}

.text__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0px);
}

.text__wrapper {
  text-align: var(--text-align, left);
}

.palette-one.text__wrapper {
  background: var(--background-primary, #FFFFFF);
  color: var(--color-third, #1A333366);
}

.palette-one .text__title {
  color: var(--color-primary, #1A3333);
}

.palette-two.text__wrapper {
  background: var(--background-primary-2, #1A3333);
  color: var(--color-third-2, #FFFFFF66);
}

.palette-two .text__title {
  color: var(--color-primary-2, #FFFFFF);
}

@media (min-width: 992px) {
  .text__wrapper--padding-top {
    padding-top: var(--padding-top, 37px);
  }

  .text__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom, 0px);
  }
}
