.title__wrapper {
  position: relative;
  overflow: hidden;
  background: var(--background-primary);
  color: var(--color-secondary);
}

.title__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.header-transparent ~ main .title:first-child .title__wrapper--padding-top {
  padding-top: calc(var(--padding-top-mobile, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
}

.title__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.title__wrapper .title__container {
  position: relative;
  z-index: 1;
}

.title__container .title__wrapper {
  border-radius: var(--border-radius-rounded-blocks);
}

.title__container .title__wrapper .title__content {
  position: relative;
  z-index: 1;
}

.title__content {
  text-align: center;
  padding: 0 36px;
}

.title__heading {
  font-weight: var(--font-weight-extrabold);
  margin-bottom: 0;
  color: var(--color-primary);
}

.title__heading + .title__description:not(:empty) {
  padding-top: 25px;
}

.title__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
}

@media (min-width: 992px) {
  .title__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .header-transparent ~ main .title:first-child .title__wrapper--padding-top {
    padding-top: calc(var(--padding-top, 0px) + var(--header-height, 110px) - var(--top-bar-height, 0px));
  }

  .title__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }
}
