.title__wrapper {
  position: relative;
  overflow: hidden;
  background: var(--background-primary);
}

.title__wrapper--padding-top {
  padding-top: var(--padding-top-mobile, 0);
}

.title__wrapper--padding-bottom {
  padding-bottom: var(--padding-bottom-mobile, 0);
}

.title__wrapper .title__container {
  position: relative;
  z-index: 1;
}

.title__container .title__wrapper {
  border-radius: var(--border-radius-rounded-blocks);
}

.title__container .title__wrapper .title__content {
  position: relative;
  z-index: 1;
}

.title__content {
  text-align: center;
  padding: 0 36px;
}

.title__heading {
  font-weight: var(--font-weight-extrabold);
  margin-bottom: 0;
}

.title__description {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-outline);
}

.title__description ol,
.title__description ul,
.title__description p,
.title__description blockquote,
.title__description table,
.title__description dl,
.title__description dd,
.title__description address,
.title__description pre {
  text-align: left;
}

.title__heading + .title__description:not(:empty) {
  padding-top: 25px;
}

.title__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  opacity: calc(100% - var(--image-opacity));
}

@media (min-width: 820px) {
  .title:has(+ .products) .title__background-image {
    height: auto;
    object-fit: inherit;
  }

  .title .title__background--fill-section .title__background-image {
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .title__wrapper--padding-top {
    padding-top: var(--padding-top);
  }

  .title__wrapper--padding-bottom {
    padding-bottom: var(--padding-bottom);
  }

  .title__heading {
    font-size: var(--font-size-h2);
  }
}
